<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Политика доставки</h1>
      <p>
        На этой странице вы найдете информацию о сроках доставки и
         расходы.
      </p>

      <h4>Срок обработки заказа</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam
        voluptatem adipisci sed amet ipsa quod reiciendis eos. Magnam ad
        sapiente aut a libero aliquam veritatis incidunt molestiae tempora?
      </p>

      <h4>Доставка заказа</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum
        dolor, totam quidem expedita impedit sequi natus molestias quae
        similique officiis? Eos, quas earum! Similique nobis enim unde amet
        suscipit.
      </p>

      <h4>Тарифы на доставку</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero
        perspiciatis atque corrupti amet dignissimos reprehenderit excepturi aut
        ea distinctio mollitia nulla voluptatum deleniti, ipsum saepe soluta
        omnis debitis! Beatae.
      </p>

      <h4>Возврат товаров</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, dicta.
        Consequatur praesentium esse aut minus ullam exercitationem nostrum!
        Provident minus dolores asperiores velit. Nulla, repellat magnam. Ab
        corrupti voluptatibus quos.
      </p>

      <h4>у вас есть вопросы?</h4>
      <p>
       Пожалуйста, не стесняйтесь
        <a href="/pages/contact-us"><u>связаться с нами</u></a> через нашу электронную почту или
         телефонные номера
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
